@import "_variables";

.App-header {
  .navbar-brand {
    width: $sidebar-w;
    background-color: rgba(94, 101, 123, 0.81);
    margin: 0;
    padding: 0.5rem 1rem;
    font-family: "Courier New", serif;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .nav-link {
    font-weight: 500;
    //color: #333;
  }

  .nav-link.active {
    //color: var(--bs-navbar-active-color)
  }
}

.App-sidebar {
  position: fixed;
  top:0;
  left: 0;
  width: $sidebar-w;
  height: 100vh;
  //background-color: $sidebar-bg-color;
  //border-right: 2px dashed gray;
  padding: $header-h 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  overflow-y: scroll;

  .nav-link {
    font-weight: 500;
    color: #333;
    padding: 0.325rem 1rem;
  }

  .nav-link.active {
    color: var(--bs-primary)
  }
}

.App-main {
  //padding-left: $sidebar-w;
  //padding-top: $header-h;
}

.App-footer {
  border-top: 1px solid #4b4a4a;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.88);
  font-size: 0.8em;

  &:hover {
    background: #ffffff;
  }
}


.App-WithHeader {
  .App-main {
    padding-top: $header-h;
  }
}

.App-WithSidebar {
  .App-main {
    padding-left: $sidebar-w;
  }
}


.Pagination-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

//.App {
//  text-align: center
//}
//
//.App-logo {
//  height: 40vmin;
//  pointer-events: none;
//}
//
//@media (prefers-reduced-motion: no-preference) {
//  .App-logo {
//    animation: App-logo-spin infinite 20s linear;
//  }
//}
//
//.App-header {
//  background-color: #282c34;
//  min-height: 100vh;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  font-size: calc(10px + 2vmin);
//  color: white;
//}
//
//.App-link {
//  color: #61dafb;
//}
//
//@keyframes App-logo-spin {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}
